<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon/favicon.ico"
    />
    <link rel="manifest" href="static/favicon/site.webmanifest" />
    <title>Join lobbies</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static\style\base.css" />

    <script src="{{url_for('static', filename='lobbies.js')}}"></script>
  </head>
  <body>
    {% block content %} {% endblock %}
    <div class="right">
      <div class="photo">
        <img
          src="{{ ProfilePicture }}"
          alt="profile picture"
          width="90%"
          height="90%"
        />
      </div>
      <div class="username">{% print session['username'] %}</div>
      <div class="coins">
        <img src="static/coin.png" alt="coin" />
        {% print(coins)%}
      </div>
      <a
        id="button"
        href="{{url_for('history')}} "
        style="background-color:rgb{{color}}"
        >History</a
      >
      <a
        id="button"
        href="{{url_for('lobbies')}}"
        style="background-color:rgb{{color}}"
        >Lobbies</a
      >
      <a
        id="button"
        href="{{url_for('account')}}"
        style="background-color:rgb{{color}}"
        >Account</a
      >
    </div>
  </body>
</html>
