{% extends "base.html" %} {% block content %}
<div class="container">
  {% for lobby in data%}
  <div class="lobby-item">
    <div class="lobby-coins">
      <img src="static/StashedCoins.png" alt="coin" width="32px" height="32px" />
      {% print lobby['GameValue']%}
    </div>
  <div class="lobby-photo">
    <a href="/Player/{{lobby['PlayerOneID']}}">
      <img src=https://robohash.org/{{lobby['CreatorName']}} alt="coin" width="110px" height="110px" />
    </a>
  </div>
  <div class="lobby-join">
    <a href=/lobby/{{lobby['LobbyID']}} style="background-color:rgb{{color}}" onclick="">Join</a>
  </div>
</div>
{%endfor%}
</div>
 {% endblock %}
