{% extends "base.html" %} {% block content %} <head>
  <link rel="stylesheet" href="css/style.css" />
</head>
<div class="search-bar">
  <div class="rt-container">
    <form method="GET" action="{{ url_for('lobbies') }}">
      <input type="text" name = "min" placeholder="Minimum value" required></input>
      <input type="text" name = "max" placeholder="Maximum value " required></input>
      <input id="search" type="submit" value="SEARCH" href="#"></input>
    </form>
  </div>
<form action="/lobbies" method="POST">
  <input type="checkbox" name="IsVisible" value="0" default="0">Private?</input>
  <input type="text" name="LobbyValue" placeholder="Value" href="#" required></input>
  <input type="submit" value="CREATE" href="#"></input>
</form>
</div>
<div class="container"> {% for lobby in data%} <div class="lobby-item">
    <div class="lobby-coins">
      <img src="static/StashedCoins.png" alt="coin" width="32px" height="32px" /> {% print lobby['GameValue']%}
    </div>
    <div class="lobby-photo">
      <a href="/Player/{{lobby['PlayerOneID']}}">
        <img src=https://robohash.org/{{lobby['CreatorName']}} alt="coin" width="110px" height="110px" />
      </a>
    </div>
    <div class="lobby-join">
      <a href=/lobby/{{lobby['LobbyID']}} style="background-color:rgb{{color}}"">Join</a>
		</div>
	</div>
{%endfor%}

</div>
 {% endblock %}