<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon/favicon.ico"
    />
    <link rel="manifest" href="static/favicon/site.webmanifest" />
    <title>Register Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static\style\style.css" />
    <script
      type="text/javascript"
      src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=GA84mroqLJ3kxRYkjcFaFrPZ23jD8e1QN0kMVKLqcSVp_du2wwu0l_8AQBYBmRK9IUJKE_ZBwKS0oHvqtiME9nl4nW3Xk9294TXik7puZ3VaJwMEy4-b9lw5IVCcm8O5"
      charset="UTF-8"
    ></script>
  </head>
  <body>
    <body class="align">
      <div class="grid">
        <form action="#" method="POST" class="form login">
          <div class="form__field">
            <label for="login__username"
              ><svg class="icon">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#user"
                ></use></svg
              ><span class="hidden">Username</span></label
            >
            {{ form.username }}
          </div>
          <div class="form__field">
            <label for="login__password"
              ><svg class="icon">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#arrow-right"
                ></use></svg
              ><span class="hidden">email</span></label
            >
            {{ form.email }}
          </div>
          <div class="form__field">
            <label for="login__password"
              ><svg class="icon">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#lock"
                ></use></svg
              ><span class="hidden">Password</span></label
            >
            {{ form.password }}
          </div>
          <div class="form__field">{{ form.submit}}</div>
        </form>
        <br>
        Already have an account? 
        <br>
        <a href="{{url_for('login')}}">Sign in!</a>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="icons">
        <symbol id="arrow-right" viewBox="0 0 24 24">
          <path
            d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"
          />
        </symbol>
        <symbol id="lock" viewBox="0 0 1792 1792">
          <path
            d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z"
          />
        </symbol>
        <symbol id="user" viewBox="0 0 1792 1792">
          <path
            d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z"
          />
        </symbol>
      </svg>
    </body>
  </body>
</html>
